/* body {
  margin: 0;
  padding: 0;
    display: flex;
    margin-top: 0;
    height: 100%; 
    width: 100%;
} */

html {
  scroll-behavior: smooth;
}


p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}